/*
Screen reader only
*/
.sr-only {
  border: 0 none;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
http://webdesignerwall.com/tutorials/css-elastic-videos
TODO: need double check this stuff
*/
.r-vc, .r-vc {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.r-vc iframe, .r-vc iframe,
.r-vc object, .r-vc object,
.r-vc embed, .r-vc embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// TODO: clearfix